[submodule "packages/OpenProjectPlanner-Portal"]
	path = packages/OpenProjectPlanner-Portal
	url = git@github.com:OpenSoftwareCorp/OpenProjectPlanner-Portal.git
[submodule "packages/OpenProjectPlanner-API"]
	path = packages/OpenProjectPlanner-API
	url = git@github.com:OpenSoftwareCorp/OpenProjectPlanner-API.git
